body{
    background-color: rgb(178, 34, 34);
}
.one{
    background-color: rgb(255, 0, 0);
}
.two{
    background-color: rgb(255, 0, 0);
}
.three{
    background-color: rgb(255, 0, 0);
}
h1{
    background-color: gold;
}
p{
    background-color: gold;
}
